<%- include('../partials/header') -%>
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-6">
          <h2><%= wrestler.ringName %></h2>
          <img class="img-fluid" src="<%= wrestler.wrestlerImage %>" />
          <div class="row justify-content-between">
            <form
              class="col-1"
              action="/wrestlers/follow/<%= wrestler.id %>?_method=PUT"
              method="POST"
            >
              <button class="btn btn-primary" type="submit">
                <% if (!isFollowing) { %>
                Follow
                <% } else { %>
                Following
                <% } %>
              </button>
            </form>
          </div>
        </div>
        <div class="col-3 mt-5">
          <p>Biography: <%= wrestler.biography %></p>
          <p>Height: <%= wrestler.height %></p>
          <p>Weight: <%= wrestler.weight %></p>
          <% if (wrestler.teammates.length > 0) { %>
          <p>
            Teammates(s): 
            <% for (let i = 0; i < teammates.length; i++) { %>
            <% if (i === teammates.length - 1) { %>
            <%= teammates[i] %>
            <% } else { %>
            <%= teammates[i] %>, 
            <% } %>
            <% } %>
          </p>
          <% } %>
          <% if (wrestler.factions) { %>
          <p>Faction: <%= wrestler.factions %></p>
          <% } %>
          <p>Currently with: <%= wrestler.promos %></p> 
        </div>
        <div class="col-6 mt-5">
          <a class="btn btn-primary" href="/profile">Return to Profile</a>
          <a class="btn btn-primary" href="/wrestlers">Return to Wrestler List</a>
        </div>
      </div>
    </div>
<%- include('../partials/footer') -%>