<%- include('../partials/header') -%>
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-6">
          <h2><%= wrestler.ringName %></h2>
          <img class="img-fluid" src="<%= wrestler.userImage %>" />
          <div class="row justify-content-between">
            <form
              class="col-1"
              action="/wrestlers/follow/<%= wrestler.id %>?_method=PUT"
              method="POST"
            >
              <button class="btn btn-primary" type="submit">
                <% if (!isFollowing) { %>
                Follow
                <% } else { %>
                Following
                <% } %>
              </button>
            </form>
            <% if (user.isAdmin) { %>
            <form
              action="/wrestlers/delete/<%= wrestler.id %>?_method=PUT"
              method="POST"
              class="col-3"
            >
              <button class="btn btn-primary fa fa-trash" type="submit"></button>
            </form>
            <% } %>
          </div>
        </div>
        <div class="col-3 mt-5">
          <p>Biography: <%= wrestler.biography %></p>
          <p>Height: <%= wrestler.height %></p>
          <p>Weight: <%= wrestler.weight %></p>
          <% if (wrestler.partners) { %>
          <p>Partner(s): <%= wrestler.partners %></p>
          <% } %>
          <% if (wrestler.factions) { %>
          <p>Faction: <%= wrestler.factions %></p>
          <% } %>
          <p>Currently with: <%= wrestler.promos %></p> 
        </div>
        <div class="col-6 mt-5">
          <a class="btn btn-primary" href="/profile">Return to Profile</a>
          <a class="btn btn-primary" href="/wrestlers">Return to Wrestler List</a>
        </div>
      </div>
    </div>
<%- include('../partials/footer') -%>