<%- include('../partials/header') -%>
    <!-- Begin Page Content -->
    <div class="container-fluid">
      <br>
      <!-- Content Row -->
      <div class="row">
        <!-- Spacer Column -->
        <div class="col-lg-1"></div>
        <div class="col-lg-4 mb-4">
          <!-- Upcoming Events -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Upcoming Events</h6>
            </div>
            <div class="card-body">
              <div class="text-center">
                <% if (events.length) { %>
                <% for (let i = 0; i < events.length; i++) { %>
                <p class="mb-0">
                  <a href="/events/<%= events[i].eventName %>"><img src="<%= events[i].eventImage %>" class="rounded-circle" style="height:5rem;width:5rem;"></a> 
                  <a href="/events/<%= events[i].eventName %>"><%= events[i].eventName %></a>
                  <span><%= events[i].startDate.toDateString() %></span>
                </p>
                <% } %>
                <% } else { %>
                <p class="mb-0">
                  No events yet!
                </p>
                <% } %>
              </div>
            </div>
          </div>
          <!-- Newly Added Promotions -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Newly Arrived Promotions</h6>
            </div>
            <div class="card-body">
              <div class="text-center">
                <% if (promos.length) { %>
                <% for (let i = 0; i < promos.length; i++) { %>
                <p class="mb-0">
                  <a href="/promos/<%= promos[i].promoName %>"><img src="<%= promos[i].promoImage %>" class="rounded-circle" style="height:5rem;width:5rem;"></a> 
                  <a href="/promos/<%= promos[i].promoName %>"><%= promos[i].promoName %></a>
                </p>
                <% } %>
                <% } else { %>
                <p class="mb-0">
                  No promotions yet!
                </p>
                <% } %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-4">
          <!-- Main Feed -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <div class="d-sm-flex align-items-center justify-content-between mb-0">
                <h6 class="m-0 font-weight-bold text-primary">Newest Updates From Your Follows</h6>
                <% if (user.isWrestler || user.isOwner || user.isAdmin) { %>
                <div>
                <a href="/posts/createPost" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-address-card fa-sm text-white"></i> Create New Post</a>
                <% if (user.isOwner || user.isAdmin) { %>
                <a href="/events/createEvent" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-calendar-plus fa-sm text-white"></i> Create New Event</a>
                </div>
                <% } %>
                <% } %>
              </div>
            </div>
            <div class="card-body">
              <% if (feed.length) { %>
              <% for (let i = 0; i < feed.length; i++) { %>
              <div class="card mb-3">
                <div class="card-body">
                  <% if (feed[i].title) { %>
                  <p>
                    <% if (feed[i].userImage) { %>
                    <a class="me-2"><img src="<%= feed[i].userImage %>" class="rounded-circle" style="height:5rem;width:5rem;"></a>
                    <% } else { %>
                    <a class="me-2"><img src="/img/undraw_profile.svg" style="height:5rem;width:5rem;"></a>
                    <% } %>
                    <a href="/profile/<%= feed[i].userName %>"><%= feed[i].userName %></a>
                  </p>
                  <p class="fw-bold"><a href="/posts/<%= feed[i]._id %>"><%= feed[i].title %></a></p>
                  <hr>
                  <% if (feed[i].postImage) { %>
                  <a href="/posts/<%= feed[i]._id %>"><img class="img-fluid" src="<%= feed[i].postImage %>"></a>
                  <p></p>
                  <% } %>
                  <p><%= feed[i].text %></p>
                  <hr>
                  <p class="mb-0"><%= feed[i].createdAt.toUTCString() %></p>
                  <% } else { %>
                  <p>
                    <a href="/promos/<%= feed[i].promoName %>"><%= feed[i].promoName %></a>
                  </p>
                  <p class="fw-bold"><a href="/events/<%= feed[i].eventName %>"><%= feed[i].eventName %></a></p>
                  <hr>
                  <a href="/posts/<%= feed[i].eventName %>"><img class="img-fluid" src="<%= feed[i].eventImage %>"></a>
                  <p></p>
                  <p>Event start time: <%= feed[i].startDate.toUTCString() %></p>
                  <p><%= feed[i].streetAddress %>, <%= feed[i].city %>, <%= feed[i].state %> <%= feed[i].zip %></p>
                  <p><%= feed[i].description %></p>
                  <hr>
                  <p class="mb-0"><%= feed[i].createdAt.toUTCString() %></p>
                  
                  <% } %>
                </div>
              </div>
              <% } %>
              <% } else { %>
              <p class="mb-0">
                Your feed is currently empty. Follow some promotions and wrestlers to populate it!
              </p>
              <% } %>
            </div>
          </div>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
<%- include('../partials/footer') -%>