<%- include('../partials/header') -%>
    <div class="container">
      <div class="row mt-5">
        <div class="col-6">
          <div>
            <% if (locals.messages.errors) { %> <% messages.errors.forEach(el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
            <% }) %> <% } %>
            <% if (locals.messages.info) { %> <% messages.info.forEach(el => { %>
            <div class="alert alert-info"><%= el.msg %></div>
            <% }) %> <% } %>
            <p><strong>User Name</strong>: <%= profileUser.userName %></p>
            <% if (profileUser.userImage) { %>
              <img class="w-25" src="<%= profileUser.userImage %>">
            <% } %>
            <% if (profileUser.id === user.id) { %>
            <p><strong>Email</strong>: <%= profileUser.email %></p>
            <form action="/profile/avatar?_method=PUT" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Upload avatar:</label>
                <input type="file" class="form-control" id="imageUpload" name="file" accept="image/png, image/jpeg, image/gif">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
            <% } %>
          </div>
        </div>
        <div class="col-6">
          <ul class="row list-unstyled">
            <% for (let i = 0; i < posts.length; i++) { %>
            <li class="col-6 justify-content-between mt-5">
              <a href="/post/<%= posts[i]._id %>">
                <img class="img-fluid" src="<%= posts[i].image %>">
              </a>
            </li>
            <% } %>
          </ul>
          <div class="row justify-content-center mt-5">
            <a class="btn btn-primary" href="/feed">Return to Feed</a>
            <% if (user.isAdmin && profileUser.id === user.id) { %>
            <a class="btn btn-primary" href="/admin/add/promo">Manage Promos</a>
            <a class="btn btn-primary" href="/admin/add/owner">Manage Owners</a>
            <a class="btn btn-primary" href="/admin/add/wrestler">Manage Wrestlers</a>
            <% } %>
          </div>
        </div>
      </div>
    </div>
<%- include('../partials/footer') -%>