<%- include('../partials/header') -%>
    <div class="container">
      <div class="row mt-5">
        <div class="col-6">
          <div>
            <% if (locals.messages.errors) { %> <% messages.errors.forEach(el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
            <% }) %> <% } %>
            <% if (locals.messages.info) { %> <% messages.info.forEach(el => { %>
            <div class="alert alert-info"><%= el.msg %></div>
            <% }) %> <% } %>
            <p><strong>User Name</strong>: <%= profileUser.userName %></p>
            <% if (profileUser.userImage) { %>
              <img class="w-25" src="<%= profileUser.userImage %>">
            <% } %>
            <% if (profileUser.id === user.id) { %>
            <p><strong>Email</strong>: <%= profileUser.email %></p>
            <form action="/profile/avatar?_method=PUT" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Upload avatar:</label>
                <input type="file" class="form-control" id="imageUpload" name="file" accept="image/png, image/jpeg, image/gif">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
            <% } %>
          </div>
          <% if (profileUser.id === user.id) { %>
          <div class="mt-5">
            <h2>Add a post</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="text" class="form-label">Message</label>
                <textarea class="form-control" id="text" name="text"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file" accept="image/png, image/jpeg, image/gif">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
          <% } %>
        </div>
        <div class="col-6">
          <ul class="row list-unstyled">
            <% for (let i = 0; i < posts.length; i++) { %>
            <li class="col-6 justify-content-between mt-5">
              <a href="/post/<%= posts[i]._id %>">
                <img class="img-fluid" src="<%= posts[i].image %>">
              </a>
            </li>
            <% } %>
          </ul>
          <div class="row justify-content-center mt-5">
            <a class="btn btn-primary" href="/feed">Return to Feed</a>
            <% if (user.isAdmin) { %>
            <% if (profileUser.id === user.id) { %>
            <a class="btn btn-primary" href="/promos/add">Add a Promo</a>
            <% } else if (!profileUser.isWrestler) { %>
            <form
              action="/wrestlers/add/<%= profileUser.id %>?_method=PUT"
              method="POST"
            >
              <div>
                <label for="ringName" class="form-label">Ring Name</label>
                <input type="text" class="form-control" id="ringName" name="ringName">
              </div>
              <div>
                <label for="height" class="form-label">Height</label>
                <input type="text" class="form-control" id="height" name="height">
              </div>
              <div>
                <label for="weight" class="form-label">Weight</label>
                <input type="text" class="form-control" id="weight" name="weight">
              </div>
              <div>
                <label for="bio" class="form-label">Biography</label>
                <textarea class="form-control" id="bio" name="bio"></textarea>
              </div>
              <div>
                <label for="partners" class="form-label">Partner(s)</label>
                <input type="text" class="form-control" id="partners" name="partners">
              </div>
              <div>
                <label for="factions" class="form-label">Faction(s)</label>
                <input type="text" class="form-control" id="factions" name="factions">
              </div>
              <div>
                <label for="promos" class="form-label">Promotion(s)</label>
                <input type="text" class="form-control" id="promos" name="promos">
              </div>
              <button class="btn btn-primary" type="submit">Add as Wrestler</button>
            </form>
            <% } %>
            <% } %>
          </div>  
        </div>  
      </div>
    </div>
<%- include('../partials/footer') -%>