<%- include('../partials/header') -%>
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-6">
          <h2><%= post.title %></h2>
          <h3>
            <% if (post.userImage) { %>
              <a href="/profile/<%= post.userName %>"><img src="<%= post.userImage %>" class="rounded-circle" style="height:5rem;width:5rem;"></a>
            <% } else { %>
              <a href="/profile/<%= post.userName %>"><img src="/img/undraw_profile.svg" class="rounded-circle" style="height:5rem;width:5rem;"></a>
            <% } %>
            <a href="/profile/<%= post.userName %>"><%= post.userName %></a>
          </h3>
          <a href="<%= post.postImage %>"><img class="img-fluid" src="<%= post.postImage %>"></a>
          <div class="row justify-content-between">
            <% if (post.userId == user.id) { %>
            <form
              action="/posts/deletePost/<%= post.id %>?_method=DELETE"
              method="POST"
              class="col-3"
            >
              <button class="btn btn-primary fa fa-trash" type="submit"></button>
            </form>
            <% } %>
          </div>
        </div>
        <div class="col-3 mt-5">
          <p><%= post.text %></p>
        </div>
        <div class="mt-5">
          <h2>Add a comment</h2>
          <form action="/posts/createComment/<%= post.id %>" method="POST">
            <div class="mb-3">
              <label for="comment" class="form-label">Comment:</label>
              <input type="text" class="form-control" id="comment" name="comment">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <ul>
          <% for (let i = 0; i < comments.length; i++) { %>
          <li class="col-6 justify-content-between mt-5">
            <a href="/profile/<%= comments[i].userName %>"><%= comments[i].userName %></a> says: "<%= comments[i].text %>"
            <% if (comments[i].userId == user.id) { %>
            <form
              action="/posts/deleteComment/<%= comments[i]._id %>?_method=DELETE"
              method="POST"
              class="col-3"
            >
              <button class="btn btn-primary fa fa-trash" type="submit"></button>
            </form>
            <% } %>
          </li>
          <% } %>
        </ul>
        <div class="col-6 mt-5">
          <a class="btn btn-primary" href="/profile">Return to Profile</a>
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>
      </div>
    </div>
<%- include('../partials/footer') -%>