<%- include('../partials/header') -%>
    <div class="container">
      <div class="row justify-content-center mt-5">
        <ul class="row list-unstyled">
          <% if (promos.length > 0) { %>
          <h2>Promotions</h2>
          <% for (let i = 0; i < promos.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/promos/<%= promos[i].promoName %>">
              <img class="img-fluid" src="<%= promos[i].promoImage %>">
              <%= promos[i].promoName %>
            </a>
          </li>
          <% } %>
          <% } else if (owners.length > 0) { %>
          <h2>Promotion Owners</h2>
          <% for (let i = 0; i < owners.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/promos/owners/<%= owners[i].proName %>">
              <img class="img-fluid" src="<%= owners[i].proImage %>">
              <%= owners[i].proName %>
            </a>
          </li>
          <% } %>
          <% } %>
        </ul>
      </div>
    </div>
<%- include('../partials/footer') -%>