<%- include('../partials/header') -%>
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-6">
          <h2><%= owner.proName %></h2>
          <img class="img-fluid" src="<%= owner.proImage %>" />
          <div class="row justify-content-between">
            <form
              class="col-1"
              action="/promos/owners/follow/<%= owner.proName %>?_method=PUT"
              method="POST"
            >
              <button class="btn btn-primary" type="submit">
                <% if (!isFollowing) { %>
                Follow
                <% } else { %>
                Following
                <% } %>
              </button>
            </form>
          </div>
        </div>
        <div class="col-3 mt-5">
          <p><%= owner.biography %></p>
          <p>
            Owner of: 
            <% for (let i = 0; i < promos.length; i++) { %>
            <a href="/promos/<%= promos[i].promoName %>"><%= promos[i].promoName %></a>
            <% } %>
          </p>
        </div>
        <div class="col-6 mt-5">
          <a class="btn btn-primary" href="/profile">Return to Profile</a>
          <a class="btn btn-primary" href="/promos">Return to Promotion List</a>
        </div>
      </div>
    </div>
<%- include('../partials/footer') -%>