<%- include('../partials/header') -%>
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-6">
          <h2><%= promo.promoName %></h2>
          <img class="img-fluid" src="<%= promo.promoImage %>" />
          <div class="row justify-content-between">
            <form
              class="col-1"
              action="/promos/follow/<%= promo.id %>?_method=PUT"
              method="POST"
            >
              <button class="btn btn-primary" type="submit">
                <% if (!isFollowing) { %>
                Follow
                <% } else { %>
                Following
                <% } %>
              </button>
            </form>
          </div>
        </div>
        <div class="col-3 mt-5">
          <p><%= promo.description %></p>
          <p>Location: <%= promo.city %>, <%= promo.state %></p>
          <p>
            Current roster:
            <% for (let i = 0; i < wrestlers.length; i++) { %>
              <% if (i !== wrestlers.length - 1) { %>
              <a href="/wrestlers/<%= wrestlers[i].proName %>"><%= wrestlers[i].proName %></a>, 
              <% } else { %>
                <a href="/wrestlers/<%= wrestlers[i].proName %>"><%= wrestlers[i].proName %></a>
              <% } %>
            <% } %>
          </p>
          <p>
            Owned by:
            <% for (let i = 0; i < owners.length; i++) { %>
              <% if (i !== owners.length - 1) { %>
              <a href="/promos/owners/<%= owners[i].proName %>"><%= owners[i].proName %></a>, 
              <% } else { %>
              <a href="/promos/owners/<%= owners[i].proName %>"><%= owners[i].proName %></a>
              <% } %>
            <% } %>
          </p>
        </div>
        <div class="col-6 mt-5">
          <a class="btn btn-primary" href="/profile">Return to Profile</a>
          <a class="btn btn-primary" href="/promos">Return to Promotion List</a>
        </div>
      </div>
    </div>
<%- include('../partials/footer') -%>